[user]
	email = mail@codiy.net
    name = codiy
[color]
    ui = true
[core]
    editor = vim
[pull]
    ff = only
[push]
    default = simple
[init]
    defaultBranch = master
[safe]
	directory = /root
