/*
!.config
!.gitignore
!.gitconfig
!/README.md
!/Makefile
!/Dockerfile
!/docker-compose.yml
!/.bash_profile
!/.vimrc
!/active
!/install.sh
!/bin/
!/.ssh/
!/.gnupg/
!/storage/

!/openwrt/
!/ros/
!/nas/
